{
  "USERNAME": "${VCOM_USERNAME}",
  "PASSWORD": "${VCOM_PASSWORD}",
  "SYSTEM_URL": "${VCOM_SYSTEM_URL}",
  "NGROK_AUTH_TOKEN": "${NGROK_AUTH_TOKEN}",
  "DASHBOARD_USER": "${DASHBOARD_USER}",
  "DASHBOARD_PASS": "${DASHBOARD_PASS}",
  "INVERTER_IDS": ${INVERTER_IDS_JSON}
}
